/* src/components/HomePage.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.open {
  height: 10rem;
}

.logo-container {
  display: flex;
  align-items: center;
  background-color: #a9d5de;
  padding: 0px;
}

.logo-container img {
  max-height: 70px;
  margin-right: 10px;
}
